# Ignore data folder
/data

# Ignore environment variable files
.env*
.env.local

# Python cache and compiled files
__pycache__/
*.pyc

# pytest cache
dotpytest_cache/

# macOS system files
.DS_Store

# Virtual environment
venv/